[submodule "modules/PX4NuttX"]
	path = modules/PX4NuttX
	url = git://github.com/diydrones/PX4Nuttx.git
	branch = master
[submodule "modules/PX4Firmware"]
	path = modules/PX4Firmware
	url = git://github.com/3drobotics/PX4Firmware-solo.git
	branch = diydrones-rebase
